body {
  margin:40px auto;
  max-width:750px;
  line-height:1.6;
  font-size:20px;
  color:#444;
  background-color: #e6e6e6;
  padding:0 10px;
  font-family: sans-serif;
}

h1,h2,h3 {
  line-height:1.2;
}